/*======================================
=            Main Tags                 =
======================================*/

html {
  width: 100%;
  height: 100vh;
}

body {
	margin:0;
	padding:0;
	position: relative;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

/*======================================
=              Header                  =
======================================*/

.header {
    position: relative;
    color: #fff;
}

.header__container {
    position: absolute;
    z-index: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 169, 244, .4);
}

.header__content {
	text-align: center;
    position: relative;
    z-index: 1;
    padding: 30px 0;
}

.btn-main {
    margin-right: 7px;
    margin-left: 7px;
    color: #fff;
    border-color: black;
    background: black;
}

.btn-main:focus, .btn-main:hover {
    color: white;
    border-color: #fff;
    background: 0 0;
}

.btn-mainpage.focus, .btn-mainpage:focus, .btn-mainpage:hover {

    color: white !important;
    text-decoration: none;

}

/*======================================
=              Content                 =
======================================*/


.text__center {
    text-align: center;
    margin: 30px 0;
}

.text__center:hover {
  
  color: #03A9F4;
  cursor: pointer;

}

.horizontal__line {

  border: 2px solid #9ADCFB;
  width: 100%;
}


/* Image Effect */

.thumbnail {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
         
}

.thumbnail img:hover {
    color: #03A9F4;
         
}

.caption h4:hover {
   color: #03A9F4;
}
 
.thumbnail:hover {
    text-decoration: none;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease,-webkit-transform .5s ease;
}


/*======================================
=              Footer                  =
======================================*/

.footer {
	border: 2px solid #9ADCFB;
}

footer {
  text-align: center;
    margin-top: 50px;
    padding: 50px 0;
    background: #9ADCFB;
}

.header__content {
  background-image: url(../images/slideshow4.jpg);
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.container h1 {
    font-size: 75px;
    font-family: 'Finger Paint', cursive;
}

.container h2 {
    font-size: 50px;
    font-family: 'Libre Franklin', sans-serif;
}

.thumbnail__mainpage {
  border: none !important;
}



/* Loader */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #F7FAFF;
  z-index: 1999;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .loader-text {
    position: relative;
    margin-top: -30px;
    font-size: 15rem;
    font-family: 'Finger Paint', cursive;
    color: rgba(3, 169, 244, 0.1);
  }

  .loader-text:before {
    content: attr(data-content);
    position: absolute;
    overflow: hidden;
    width: 0%;
    height: 150%;
    color: #03A9F4;
    animation-name: loading;
    animation-duration: 2s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.45,.78,.6,.39);
  }

@keyframes loading {
  0% { width: 0; }
  100% { width: 100%; }
}

.pace {
 -webkit-pointer-events: none;
 pointer-events: none;

 -webkit-user-select: none;
 -moz-user-select: none;
 user-select: none;
}

.pace .pace-activity {
 display: block;
 position: fixed;
 z-index: 2000;
 top: 0;
 right: 0;
 width: 300px;
 height: 300px;
 background: #0398db;
 -webkit-transition: -webkit-transform 0.3s;
 transition: transform 0.3s;
 -webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
 transform: translateX(100%) translateY(-100%) rotate(45deg);
 pointer-events: none;
}

.pace.pace-active .pace-activity {
 -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
 transform: translateX(50%) translateY(-50%) rotate(45deg);
}

.pace .pace-activity::before,
.pace .pace-activity::after {
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   position: absolute;
   bottom: 30px;
   left: 50%;
   display: block;
   border: 5px solid #fff;
   border-radius: 50%;
   content: '';
}

.pace .pace-activity::before {
   margin-left: -40px;
   width: 80px;
   height: 80px;
   border-right-color: rgba(0, 0, 0, .2);
   border-left-color: rgba(0, 0, 0, .2);
   -webkit-animation: pace-theme-corner-indicator-spin 3s linear infinite;
   animation: pace-theme-corner-indicator-spin 3s linear infinite;
}

.pace .pace-activity::after {
   bottom: 50px;
   margin-left: -20px;
   width: 40px;
   height: 40px;
   border-top-color: rgba(0, 0, 0, .2);
   border-bottom-color: rgba(0, 0, 0, .2);
   -webkit-animation: pace-theme-corner-indicator-spin 1s linear infinite;
   animation: pace-theme-corner-indicator-spin 1s linear infinite;
}

@-webkit-keyframes pace-theme-corner-indicator-spin {
 0% { -webkit-transform: rotate(0deg); }
 100% { -webkit-transform: rotate(359deg); }
}
@keyframes pace-theme-corner-indicator-spin {
 0% { transform: rotate(0deg); }
 100% { transform: rotate(359deg); }
}

