/*======================================
=            Main Tags                 =
======================================*/

html {

  width: 100%;
  height: 100vh;

}
body {

	margin:0;
	padding:0;
	position: relative;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;

}

/*======================================
=              Header                  =
======================================*/

.header {
    position: relative;
    color: #fff;
    background: url(../images/mainpage.jpg) bottom center no-repeat;
}

.header__container {
    position: absolute;
    z-index: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 169, 244, .4);
}

.header__content {
	text-align: center;
    position: relative;
    z-index: 1;
    padding: 30px 0;
}

.btn-main {
    margin-right: 7px;
    margin-left: 7px;
    color: #fff;
    border-color: black;
    background: black;
}

.btn-main:focus, .btn-main:hover {
    color: white;
    border-color: #fff;
    background: 0 0;
}

.btn-mainpage.focus, .btn-mainpage:focus, .btn-mainpage:hover {

    color: white !important;
    text-decoration: none;

}

/*======================================
=              Content                 =
======================================*/


.text__center {
    text-align: center;
    margin: 30px 0;
}

.text__center:hover {
  
  color: #03A9F4;
  cursor: pointer;

}

.horizontal__line {

  border: 2px solid #9ADCFB;
  width: 100%;
}


/* Image Effect */

.thumbnail {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
         
}

.thumbnail img:hover {
    color: #03A9F4;
         
}

.caption h4:hover {
   color: #03A9F4;
}
 
.thumbnail:hover {
    text-decoration: none;
/*     -webkit-filter:grayscale(70%); */
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease,-webkit-transform .5s ease;
}


/*======================================
=              Footer                  =
======================================*/

.footer {
	border: 2px solid #9ADCFB;
}

footer {
  text-align: center;
/*  line-height: 0; */
    margin-top: 50px;
    padding: 50px 0;
    background: #9ADCFB;
}
