/*==================================
=            Typography            =
==================================*/
body {
  font-family: 'Open Sans', sans-serif;
}

.title, .secondary-title {
  font-family: 'Finger Paint', cursive;
}

.header-info__text {
  font-size: 2em;
}

/*=======================================================
=            Base styles (used in all pages)            =
=======================================================*/
html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 30px;
  background-color: #03A9F4;
  color: #212121;
}

/*===============================
=            Buttons            =
===============================*/
/*=================================
=            Countdown            =
=================================*/
.counter {
  margin-top: 30px;
  margin-bottom: 30px;
}

.counter__elements {
  color: #fff;
}

.counter__part {
  display: inline-block;
  margin-right: 20px;
  font-family: 'Finger Paint', cursive;
}

.counter__part span {
  font-size: 40px;
  display: block;
}

@media (max-width: 767px) and (min-width: 480px) {
  .counter__elements .col-sm-3 {
    width: 50%;
    float: left;
  }
}

.btn,
.form-control,
.form-control:hover,
.form-control:focus
.form-control:active {
  box-shadow: none !important;
}

.form-control {
  font-size: 13px;
  height: 43px;
  -webkit-transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
  transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
  letter-spacing: 2px;
  color: #fff;
  border-width: 0 0 3px 0;
  border-style: solid;
  border-color: #00FF42;
  border-bottom-left-radius: 15px 30px;
  background: rgba(0, 0, 0, 0.2);
}

.form-control:focus {
  background: rgba(0, 0, 0, 0.3);
}

.form-control::-moz-placeholder {
  opacity: 1;
  color: rgba(255, 255, 255, 0.85);
}

.form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
}

label {
  margin-bottom: 15px;
}

.btn {
  padding: 13px 30px;
  text-transform: uppercase;
  border-radius: 0;
  border-top-right-radius: 15px 30px;
}

.btn-main {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 2px;
  border-width: 0 0 3px 0;
  border-style: solid;
  border-color: #00FF42;
  background: rgba(0, 0, 0, 0.2);
}

.btn-main:hover,
.btn-main:focus {
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
}

.form-error {
  border-color: #f00 !important;
}

.alert-message {
  margin-top: 20px;
}

.alert-message .error {
  color: #f00;
}

/*** subscription form ***/
.subscribe__form {
  margin-top: 30px;
}

.subscribe__email {
  min-width: 300px;
}

.subscribe {
  padding-bottom: 5px;
}

/* Responsive subscribe form */
@media only screen and (max-width: 768px) {
  .form-group {
    width: 50%;
    display: inline-block;
  }
}

@media only screen and (max-width: 600px) {
  .form-group {
    width: 90%;
    padding-left: 10%;
    display: block;
  }
}

@media only screen and (max-width: 350px) {
  .form-group {
    width: 100%;
    padding-left: 0;
    display: block;
  }
}

@media (max-width: 690px) and (min-width: 600px) {
  .form-group {
    width: 50%;
    padding-left: 0;
    display: inline-block;
  }
  .subscribe__email {
    width: 70%;
    min-width: 260px;
  }
}

/*=============================
=            Forms            =
=============================*/
.subscribe {
  width: 90%;
  margin: 0 auto;
}

/*====================================================
=            Modals (Navigation Sections)            =
====================================================*/
.information__content {
  position: relative;
}

.modal-open .modal {
  overflow-y: hidden;
}

.modal-loader {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1999;
}

.modal-loader__animation {
  position: absolute;
  width: 900px;
  height: 2px;
  margin-left: 10px;
  border-radius: 6px;
  background-color: #fff;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-animation: modal-load 2s forwards cubic-bezier(0.7, 0, 0.3, 1);
          animation: modal-load 2s forwards cubic-bezier(0.7, 0, 0.3, 1);
}

.modal-content {
  position: relative;
  /* height: 90vh; */
  overflow: hidden;
}

.modal-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.close {
  position: relative;
  z-index: 9999;
  font-size: 3em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.close:focus {
  outline: none;
}

.modal-body {
  height: 80vh;
  padding-top: 0;
  overflow: hidden;
  background-color: transparent;
  -webkit-animation-name: anim-elem-open;
          animation-name: anim-elem-open;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
          animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.modal-body p {
  font-size: 2rem;
}

.modal-body p:first-child {
  padding-top: 20px;
}

.modal-effect {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.modal-effect.in {
  -webkit-animation-name: modal-animation;
          animation-name: modal-animation;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
          animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes modal-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*==================================
=            Navigation            =
==================================*/
.main-nav {
  position: absolute;
  left: 10px;
  bottom: 0px;
  z-index: 1000;
}

.main-nav__links {
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__item {
  position: relative;
  width: 70px;
  height: 70px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  /* &:first-child {
				border-bottom-left-radius: 15px 30px;
			
				&:before {
					border-bottom-left-radius: 15px 30px;
				}
			}
			
			&:last-child {
				border-top-right-radius: 30px 15px;
			
				&:before {
					border-top-right-radius: 30px 15px;
				}
			} */
}

.main-nav__item:before {
  position: absolute;
  content: '';
  display: block;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: #03A9F4;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-nav__item:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main-nav__item a {
  cursor: pointer;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* &:first-child {
					border-bottom-left-radius: 15px 30px;
				
					&:before {
						border-bottom-left-radius: 15px 30px;
					}
				}
				
				&:last-child {
					border-top-right-radius: 30px 15px;
				
					&:before {
						border-top-right-radius: 30px 15px;
					}
				} */
}

.main-nav__item a:hover, .main-nav__item a:active {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.main-nav__item a i {
  font-size: 2rem;
}

.main-nav__item a:before {
  position: absolute;
  content: '';
  display: block;
  width: 0%;
  height: 0%;
  background-color: #03A9F4;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-nav__item a:hover:before {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 800px) {
  .main-nav {
    width: 100%;
    left: 0px;
    bottom: 0px;
  }
  .main-nav__links {
    padding: 0;
    margin-bottom: 0;
  }
  .main-nav__item {
    width: 33.333333%;
    border-radius: 0;
    margin-right: 0;
    border-right: 2px solid rgba(0, 0, 0, 0.3);
  }
  .main-nav__item:last-child {
    border: none;
  }
  .main-nav__item a {
    width: 100%;
  }
}

.social__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fa-google:before {
  content: "\f1a0";
}

/*==============================
=            Header            =
==============================*/
.main-content {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 50px;
  background-color: rgba(51, 51, 51, 0.8);
  border-bottom-left-radius: 15px 30px;
  border-top-right-radius: 60px 30px;
  color: #fff;
}

/* 
.logo {}

	.logo__image {
		width: 200px;

	}
 */
.header-info {
  width: 100%;
  margin: 10px 0;
}

.subscribe {
  margin-top: 50px;
}

/*==============================
=            Footer            =
==============================*/
/*=================================================
=            Home Page specific styles            =
=================================================*/
/*==================================================
=            About Page specific styles            =
==================================================*/
.caption h3 {
  background-color: rgba(0, 0, 0, 0.3);
}

/*=====================================================
=            Services Page specific styles            =
=====================================================*/
/*====================================================
=            Contact Page specific styles            =
====================================================*/
@media only screen and (max-width: 800px) {
  html {
    height: auto;
  }
  body {
    height: auto;
    overflow: visible;
  }
  .wrapper {
    height: auto;
  }
  .main-content {
    height: auto;
  }
}
