/*==============================
=            Header            =
==============================*/


.main-content {
	position: relative;
	width: 90%;
	height: 100%;
	margin: 0 auto;
	padding: 30px;
	padding-bottom: 50px;
	text-align: center;
	background-color: rgba(#333333, 0.8);
	color: #fff;
}

/* 
.logo {}

	.logo__image {
		width: 200px;

	}
 */
	.header-info {
		width: 100%;
		margin: 10px 0;
	}


	.subscribe {
		margin-top: 50px;
	}




