/*==============================
=            Header            =
==============================*/


.main-content {
	position: relative;
	width: 90%;
	height: 100%;
	margin: 0 auto;
	padding: 30px;
	padding-bottom: 50px;
	text-align: center;
	background-color: rgba($background-color, 0.8);
	color: $text-white;
}

	.header-info {
		// border: 1px solid red;
	}

		.main-title {}

		.header-info__text {}


	.subscribe {
		margin-top: 50px;
	}




