/*==============================
=            Header            =
==============================*/

.logo__image {
	position: relative;
	width: 150px;
}

.main-content {
	position: relative;
	width: 90%;
	height: 100%;
	margin: 0 auto;
	padding: 30px;
	padding-bottom: 50px;
	border-radius: 2px;
	box-shadow: 0 2px 12px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	background-color: rgba($background-color, 0.8);
	color: $text-white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

	.header-info {
		font-size: 1.4rem;
	}

		.main-title {}

		.header-info__text {}


	.subscribe {
		// margin-top: 30px;
	}




