.counter ul
{
    margin-top: 40px;

    color: #333;
}

.counter ul li
{
    display: inline-block;

    margin-right: 20px;
    margin-bottom: 10px;
}

.counter ul li span
{
    font-size: 40px;

    display: block;

    margin-bottom: 10px;
}

.counter ul li span:after
{
    padding-left: 15px;

    content: '\00b7';

    color: #fff;
}