/*=================================
=            Countdown            =
=================================*/

.counter {
    margin-top: 30px;
    margin-bottom: 30px;
}

    .counter__elements {
        color: $text-white;

    }

        .counter__part {
            display: inline-block;
            margin-right: 20px;
            font-family: $finger-paint;


            span {
                font-size: 40px;
                display: block;

            }

        }

@media (max-width: 767px) and (min-width: 480px){
   
    .counter__elements .col-sm-3 {
        width: 50%;
        float: left;
    }
}


