.subscribe {
	width: 90%;
	margin: 0 auto;
	font-family: 'Finger Paint', cursive;
	border: 1px solid red;
}
	.form-inline {
		border: 1px solid red;
	}

	.subscribe h2, p {
		border: 1px solid red;
	}