.btn,
.form-control,
.form-control:hover,
.form-control:focus
.form-control:active {
    box-shadow: none!important;
}
	.subscribe__email {
		min-width: 300px;
		font-size: 13px;
		height: 43px;
		letter-spacing: 2px;
		border-width: 0 0 3px 0;
		border-style: solid;
		border-color: $main-color;
		background: rgba(0,0,0,.2);
		transition: all 0.3s ease-in-out;
	
		&:focus { 
			background: rgba(0,0,0,.3);
		}
	
		&::-moz-placeholder {
			opacity: 1;
			color: rgba(255,255,255,.85);
		}

		&:-ms-input-placeholder {
			color: rgba(255,255,255,.85);
		}

		&::-webkit-input-placeholder {
			color: rgba(255,255,255,.85);
		}
	}

	.subscribe__button {
		padding: 13px 30px;
	    border-width: 0 0 3px 0;
	    border-style: solid;
	    border-color: $main-color;
	    font-size: 11px;
	    font-weight: 700;
	    letter-spacing: 2px;
		text-transform: uppercase;
	    background: rgba(0,0,0,.2);

	    &:hover,
	    &:focus {
	        color: #fff;
	        background: rgba(0,0,0,.3);
	    }
	}

.form-error {
    border-color: #FF3434 !important;

}

.alert-message {
    margin-top: 20px;
    border: 0px solid red;
}

	.alert-message .error {
	    color: #FF3434;
	    border: 0px solid blue;
	    // position: absolute;
	    // left: 450px;
	    // top: 640px;
	    // margin-top: 30px;
	}


/*=============================
=            Forms            =
=============================*/

.subscribe {
	width: 90%;
	margin: 0 auto;
}

.subscribe__form {
	width: 100%;
	// border: 1px solid red;
}


@media only screen and (max-width: 520px) {
	.subscribe__email {
		min-width: 100%;
	}
}
