/*====================================================
=            Modals (Navigation Sections)            =
====================================================*/


// Overwrite Bootstrap style to hide default scroll bar
.modal-open .modal {
	overflow-y: hidden;
}

.modal {

}

	.modal-dialog {
		// margin: 0 auto;
	}

		.modal-content {
			position: relative;
			// border: 2px solid blue;
			/* height: 90vh; */
			overflow: hidden;
		}

			.modal-header {
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
			}

				.close {
					position: relative;
					font-size: 3em;
					transition: all 0.2s ease-in-out;

					&:focus {
						outline: none;
					}
				}

			.modal-body {
				// border: 2px solid red;
				height: 80vh;
				padding-top: 0;
				overflow: hidden;
				background-color: transparent;

				p {
					font-size: 2rem;

					&:first-child {
						padding-top: 20px;
					}
				}
			}



.modal-effect {
  transform-origin: 50% 50%;
  transform: scale(2);
  opacity: 0;
  -webkit-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}

.modal-effect.in {
  opacity: 1;
  transform: scale(1);


}


