html {
	width: 100%;
	height: 100%;
	
}

body {
	height: 100%;
	overflow: hidden;
	background-color: #DEE6FF;
	text-align: center;
}

.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.2);
}

.logo__image {
	max-width: 200px;
}

.section-newsletter{
	width: 90%;
	margin: 0 auto;
}
