/*====================================================
=           	Media Query  			             =
====================================================*/


/* Main content */

@media only screen and (max-width: 800px) {
	
	html {
		height: auto;
	}

	body {
		height: auto;
		overflow: visible;
	}

	.wrapper {
		height: auto;
	}

	.main-content {
		height: auto;
	}

}



/* Home page */

@media only screen and (max-width: 615px) {

    .sub__box {

        width: 200px;
        margin: 20px auto 0;
    
    }
}


@media only screen and (min-width: 387px) and (max-width: 480px) {
	
		.social-item {
			margin-right: 60px;
    		margin-bottom: 10px;
		}

	}

/* About Page  */

@media only screen and (max-width: 750px) {
	
	.about__history {

		padding: 5px 15px;
	}

	.about__process {

		padding: 5px 15px;

	}
}


/* Services Page  */

@media only screen and (max-width: 992px) {

	
	.services_icon {

		height: auto;
	
	}

	.contact-form {
    	width: 100%;
	}

}

@media only screen and (max-width: 500px) {
	
	.services__list-item {

	    padding: 5px 15px;

	}

}


@media only screen and (max-width: 768px) {
    
    .services__content h3 {

	    margin-top: 0;
	    text-align: center;
	
	}

    .services_icon {
    
    	float: none;
	
	}    

}

/* Contact Page  */

@media only screen and (max-width: 992px) {

    .contact__social {

        text-align: left;
    
    }
    
}

@media only screen and (max-width: 430px) {
    
    .social-item {
        
        margin-bottom: 10px;
    
    }
    

}

/* Navigation */

@media only screen and (max-width: 800px) {

	.main-nav {
		width: 100%;
		left: 0px;
		bottom: 0px;
	}

	.main-nav__links {
		padding: 0;
		margin-bottom: 0;
	}

	.main-nav__item {
		width: 33.333333%;
		border-radius: 0;
		margin-right: 0;
		border-right: 2px solid rgba(black, 0.3);

		&:last-child {
			border: none;
		}

		a {
			width: 100%;
		}
	}
}

/* Countdown */

@media (max-width: 767px) and (min-width: 480px){
   
    .counter .col-sm-3 {
       width: 50%;
       float: left;
   }
}

