/*====================================================
=           	Media Queries  			             =
=====================================================*/

/* 
* Class for making html, body, .wrapper and .main-content scrollable
* It gets added at width < 768px  or height < 500px and the page becomes scrollable
*/
.scrollable {
	height: auto;
}

.main-content.scrollable {
	overflow-y: auto;
	min-height: 100vh;
}


/* 
* Some text becomes smaller 
* Column sections like team members, services icon and title, contact information get under each other 
*/
@media only screen and (max-width: 992px) {

	.wrapper {
		padding: 10px;
	}

	/* Main page */
	.main-content {
		margin: 0 auto;
		width: 95%;
	}

	/* Navigation */
	.main-nav__item {
		width: 35px;
		height: 35px;
		margin-right: 30px;

		.main-nav__link {
			width: 35px;
			height: 35px;
		}
	}

	.main-nav__link + .tooltip {
		width: 100px;

		&.top {
			margin-top: -20px;
		}
	}

	.main-nav__link + .tooltip > .tooltip-inner {
		padding: 8px 0;
		font-size: 1.2rem;
		letter-spacing: 1px;
	}

	/* Header */
	.counter__element-number {
		width: 60px;
		height: 60px;

		span {
			font-size: 3rem;
		}
	}

	.counter__element-number + .tooltip {
	    width: 110px;

	    &.bottom {
	        margin-top: 30px;
	    }
	}

	.counter__element-number + .tooltip > .tooltip-inner {
		font-size: 1.4rem;
	}

	.header-info__text {
		font-size: 1.2em;
		line-height: 1.4;
	}

	.sub__box {
		width: 300px;
	}

		.sub__cta {
			font-size: 1.8rem;
		}

		.subscribe__email {
			font-size: 1rem;
			letter-spacing: 1px;
		}

		.form__button {
			font-size: 1rem;
		}

	.form-name, .form-email, .form-message {
		font-size: 1.3rem;
	}

	/* Modal */

	.modal-dialog {
		margin: 10px auto;
	}


    /* About Section */
	.about__team {
		.col-md-4 {
			.team__member {
				margin-bottom: 30px;

				&:hover {
					border: 3px solid transparent;
				}
			}

			&:last-child {
				.team__member {
					margin-bottom: 0;
				}
			}
		}
	}

	/* Services Section */
	.services__content {
	    text-align: center;
	
	    .content-title {
	    	margin-bottom: 30px;
	    }

		.services__content p {
			padding: 0 60px;
		}
    }

	/* Contact Section */
	.contact__info {
		text-align: center;
	}

    .contact__information {
    	padding-left: 10px;
    	text-align: left;
    	display: flex;
    	flex-direction: column;
    	align-items: flex-start;
    	max-width: 330px;
    	margin: 0 auto 30px;
    }

    .contact__social {
    	text-align: center;
    }

    	.contact__social-icons {
    		padding-left: 0;
    	}
    
}




/* 
* Page becomes scrollable 
* Navigation gets on the bottom of the container
* Main content and modal get full width
*/
@media only screen and (max-width: 768px) {

	/* Main page */
	.loader-text {
		font-size: 12rem;
	}
	
	.wrapper {
		padding: 0;
	}

	.main-content {
		margin: 0;
		width: 100%;
	}

	/* Navigation */
	.main-nav {
		width: 100%;
		left: 0;
		bottom: 0;
	}

	.main-nav__links {
		padding: 0;
		margin-bottom: 0;
	}

	.main-nav__item {
		width: 33.333333%;
		height: 50px;
		border-radius: 0;
		margin-right: 0;
		border-right: 2px solid rgba($text-black, 0.3);
		background-color: $main-color;
		display: flex;
		align-items: center;

		&:last-child {
			border: none;
		}

		.main-nav__link {
			width: 100%;
			color: $text-white;

			&:before, &:after {
				display: none;
			}
		}
	}

	/* Coutdown */
	.counter__element {

		&:nth-child(1), &:nth-child(2) {
			margin-bottom: 30px;
		}

	}
	.counter__element-number {
		margin-bottom: 25px;
	}

	/* Subscribe Box */
	.subscribe {
		margin-bottom: 50px;
	}

	.error-message {
		margin: 10px auto 0 0;
		width: 100%;
		text-align: left;
	}

	/* Modal */
	.modal-dialog {
		width: 100%;
		margin: 0 auto;
	}

	.modal-body {
		max-height: 85vh;
	}

	/* Contact */ 
	.contact-form {
    	width: 100%;
	}

}



/* Text gets smaller, to fit on small devices */
@media only screen and (max-width: 600px) {

	/* Main page */
	.loader-text {
		font-size: 6rem;
	}

	.sub__box {
		width: 250px;
	}

		.sub__cta {
			font-size: 1.2rem;
		}

		.subscribe__email {
			font-size: 0.8rem;
			height: 35px;
		}

		.form__button {
			font-size: 0.8rem;
			height: 35px;

			&:before {
				height: 35px;
				padding: 0.2em 0.4em;
				line-height: 3.2;
			}

			span {
				padding: 0.2em 0.4em;
			}
		}

		.form__button:hover:before {
			transform: translate3d(0, 0, 0);
		}
		.form__button:hover > span {
			transform: translate3d(0, -100%, 0);
		}

	.comming__soon {

  		font-size: 3em;
 		margin-bottom: 30px;

	}
	
	/* Modal */
	.modal-header {
		padding: 5px;

		.close {
			margin-top: 2px;
			margin-right: 5px;
			font-size: 2.5em;
		}
	}

		.modal-title {
			font-size: 2rem;
			line-height: 2;
		}

	.modal-body p {
		font-size: 1.4rem;
	}

	.content-title {
		font-size: 2.3rem;
	}

	/* About */
	.team__name {
		font-size: 1.8rem;
	}

	/* Services */
	.services__icon-wrapper {
		width: 40px;
		height: 40px;

		i {
			font-size: 2rem;
		}
	}

	.services__content p {
		padding: 0;
	}

	/* Contact */
	.contact__information {
		max-width: 250px;
	}

	.contact__information li {
		font-size: 1.4rem;
		margin-bottom: 5px;

		i {
			font-size: 1.8rem;
		}
	}


	.social-item {
	    width: 40px;
	    height: 40px;
	    margin-right: 20px;

	    .facebook {
	        @include button-effect(40px, 40px, $facebook, $text-white);
	    }

	    .twitter {
	        @include button-effect(40px, 40px, $twitter, $text-white);
	    }

	    .googleplus {
	        @include button-effect(40px, 40px, $googleplus, $text-white);
	    }

	    .linkedin {
	        @include button-effect(40px, 40px, $linkedin, $text-white);
	    }
	}

	.subscribe__email, .form-name, .form-email, .form-message {
		font-size: 1rem;
	}

}


