/*==================================
=            Typography            =
==================================*/

body {
	font-family: $open-sans;

}

.main-title, .secondary-title {
	// font-family: $open-sans;
}

.main-title {
	font-size: 2.8em;
}

.header-info__text {
	font-size: 1.5em;
	line-height: 1.8;
	max-width: 80%;
	margin: 0 auto;
}