/*==================================
=            Typography            =
==================================*/

body {
	font-family: 'Open Sans', sans-serif;
}

.title, .secondary-title {
	font-family: 'Finger Paint', cursive;
}

.header-info__text {
	font-size: 2em;
}