// Variables



// Colors

$main-color: #03A9F4;
$background-color: #292929;
$text-white: #F7FAFF;
$text-black: #212121;



// Typography

$open-sans: 'Open Sans', Helvetica, Arial, sans-serif;
$finger-paint: 'Finger Paint', cursive;