/*==================================================
=            About Page specific styles            =
==================================================*/

.about__description {
	max-width: 900px;
	margin: 30px auto;
}

.about__history {
	max-width: 900px;
	margin: 30px auto;

	.row {
		margin-bottom: 30px;
	}
}

	.about__history h2 {
		margin-top: 0;
		margin-bottom: 30px;
		text-align: center;
	}

	.about__history img {
		width: 100%;
	}



.about__team {
	max-width: 900px;
	margin: 30px auto;
	text-align: center;

	h2 {
		margin-top: 0;
		margin-bottom: 30px;
	}
}

	.team__member {
		// border: 1px solid red;
		width: 100%;
		text-align: center;
	}

		.team__picture {
			position: relative;
			width: 250px;
			height: 200px;
			overflow: hidden;
			margin: 0 auto;
			background-color: $main-color;
			background-size: cover;
			-webkit-clip-path: polygon(50% 0%, 90% 50%, 50% 100%, 10% 50%);
			clip-path: polygon(50% 0%, 90% 50%, 50% 100%, 10% 50%);

			transition: all 0.5s ease-in-out;
	
			&:hover {
				// background-size: 120%;
			}

			&--1 {
				background-image: url('../images/team1.jpg');
			}

			&--2 {
				background-image: url('../images/team2.jpg');
			}

			&--3 {
				background-image: url('../images/team3.jpg');
			}
		}

		.team__info {
			margin-top: 20px;
		}

			.team__name {
				font-size: 2rem;
				font-weight: 700;
			}

			.team__role {
				font-style: italic;
			}