<<<<<<< HEAD
.main-text{

	width: 100%;
	height: auto;
	margin: 10px 0 10px 0;
	font-family: 'Finger Paint', cursive;
//	border: 1px solid red;
}
	.main-text__elem {
		font-size:2em;
//		border: 1px solid red;
	}
=======
/*=================================================
=            Home Page specific styles            =
=================================================*/



/*=====  End of Home Page specific styles  ======*/


>>>>>>> 10fdf917945e82afe5ae676eaa988365ea11d9d1
